body, html {
    background-color: #341d2e;
    color: #ffffff;
    font-size: 30px;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}