<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl}}/favicon.ico">
        <meta name="theme-color" content="#341d2e">
        {% seo %}
    </head>
    <body>
        {{ content }}
    </body>
</html>